.mainOfCreateNewParty {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9cbe5;
  min-height: 100vh;
  padding: 2em;

  .title {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: bold;
  }

  .formContainer {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .dataOfNewParty {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: right;

    label {
      font-weight: bold;
    }

    select, input, textarea {
      width: 100%;
      padding: 1em;
      border-radius: 0.5em;
      border: 1px solid #7A6B88;
      font-size: 1em;
    }

    textarea {
      min-height: 80px;
      resize: none;
    }
  }

  .submitBtn {
    background-color: #7A6B88;
    color: #fff;
    padding: 0.8em 1.5em;
    border: 2px solid #7A6B88;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      background-color: #d9cbe5;
      color: #000;
    }
  }
}
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d9cbe5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #d9cbe5;
  border-top: 6px solid #7A6B88; // اللون الأساسي
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
